*{
	/*初始化 清除页面元素的内外边距*/
	padding: 0;
	margin: 0;
	/*盒子模型*/
	box-sizing: border-box;
}
body {
	/*弹性布局 让页面元素垂直+水平居中*/
	
	justify-content: center;
	align-items: center;
	/*让页面始终占浏览器可视区域总高度*/
	height: 100vh;
	/*背景渐变色*/
	background: linear-gradient(#0e7553,#085330);
}

h1{
	color: #fff;
	margin-bottom: 30px;
    font-size: 35px;

}

button {
    background-color: #778177; /* Green */
    border: none;
    color: black;
    padding: 14px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

li {
    
    top: 0;
      
    display: inline;
  }
  li {
    float: left;
  }
  ul {
    background-color: #dddddd;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  li a:hover {
    background-color: rgb(52, 59, 55);
  }
  .active {
    background-color: #04AA6D;
  }

form{
  font-size: 20px;
  
  
}